@import "variables";

// bower:scss
// endbower

html,
body,
main {
	height: 100vh;
}
figure {
	img {
		margin: 0 auto;
	}
}
main {
	@extend .container, .text-center;
}
header {
	@extend .jumbotron;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
